#formDiv {
    margin-top: 3%;
    margin-left: 2%;
    width: 25%;
    border: solid 2px rgb(131, 84, 46);
    display: inline-grid;
    padding: 10px;
}

#results-div {
    border: solid 2px rgb(131, 84, 46);
    width: 50%;
    display: inline-grid;
    margin-top: 3%;
    margin-left: 10%;
    padding: 10px;
}




#idInput {
    display: inline;
    width: 20%;
}